* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #155a9e;
    padding: 5px 5%;
}
.logo {
    width: 160px;
    margin-left: 45px;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-left ul li {
    list-style-type: none;
    display: inline-block;
}
.nav-left ul li img {
    width: 28px;
    margin: 0 15px;
}
.nav-right {
    display: flex;
    align-items: center;
}
.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;

}
.nav-user-icone img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}